<%- include('header'); %>

<section class="header_background">
    <div class="description">
        <p>
            Houseplants.ua<br>
            место, где ты найдешь свое идеальное комнатное растение<br>
            и мы подскажем тебе все тонкости ухода за ним.
        </p>
    </div>
</section>
<main>
    <section class="about_us">
        <p class="block_name">О нас</p>
        <div class="about_us_container">
            <div class="block">
                <img src="img/about_us/1.png" alt="icon">
                <p>Наша история началась в 1993 году с небольшого предприятия по производству цветов - гербер.
                    Это новый опыт для Украины. Мы стали пионерами на цветочном рынке.</p>
            </div>
            <div class="block">
                <img src="img/about_us/4.png" alt="icon">
                <p>В 1994 году мы подписали наши первые контракты с поставщиками цветов из-за границы.
                    Это позволило расширить ассортимент цветочной продукции.</p>
            </div>
            <div class="block">
                <img src="img/about_us/5.png" alt="icon">
                <p>В 1997 году открытие первого полноценного цветочного центра. Продаются комнатные растения.
                    А через некоторое время наш ассортимент пополнился садовыми растениями и эксклюзивными коллекциями
                    декора.</p>
            </div>
            <div class="block">
                <img src="img/about_us/6.png" alt="icon">
                <p>В 2004 году мы предлагаем нашим клиентам новый продукт - услуги флористики и дизайна. Наши
                    специалисты украшают торговые центры, рестораны, гостиницы, концертные залы живыми цветами и
                    комнатными растениями.</p>
            </div>
            <div class="block">
                <img src="img/about_us/2.png" alt="icon">
                <p>Весной 2011 года в отделении комнатных растений состоялась первая
                    продажа саженцев роз, ягодных культур и плодовых деревьев.</p>
            </div>
            <div class="block">
                <img src="img/about_us/3.png" alt="icon">
                <p>В 2017 году мы разработали новый корпоративный стиль, который соответствует нашим целям и
                    деятельности,
                    участвуем в интересных проектах, заводим новые знакомства и партнерские отношения.</p>
            </div>
        </div>
    </section>
    <section class="products">
        <p class="block_name">Галерея</p>
        <div class="wrapper">
            <div class="wrapper_products">
                <ul class="plant_list">
                    <li class="plant showed">
                        <img src="img/products/calathea.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/ficus_alt.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/coffee.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/sansevieria.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/monstera.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/philodendron.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/peperomia.jpg" alt="plant">
                    </li>
                    <li class="plant">
                        <img src="img/products/fiddle_leaf.jpg" alt="plant">
                    </li>
                </ul>
                <div class="slider_arrows">
                    <button class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="wrapper_go_to_shop">
                <p> Комнатные цветы в горшках – традиционные спутники декорирования жилых и офисных помещений
                    и прекрасные живые подарки, которые долго будут радовать глаз, и поддерживать микроклимат в доме.
                    Интернет-магазин Houseplants.ua предлагает большой выбор комнатных растений.
                    Всегда рады помочь с покупкой букета для любого повода,
                    подскажем какое растение стоит приобрести для ваших условий, освещенности комнаты.</p>
                <p class="arrow">Перейти в магазин<a href="/catalog" class="go_to_shop">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </section>
    <div class="blog">
        <p class="block_name">Блог</p>
        <div class="blog_item">
            <img src="img/blog/kalateya_blog.jpg" alt="img"/>
            <div class="blog_item_description">
                <h3>Калатея. Особенности ухода.</h3>
                <p>Температура
                    Умеренная, зимой не ниже 16 — 19C. Не желательна внезапная перемена температуры. Калатеи не
                    переносят холодных сквозняков. Внезапная перемена температуры может оказаться губительной для
                    наиболее нежных разновидностей, листья становятся вялыми и загнивают.

                    Освещение
                    Калатеи следует притенять от прямых солнечных лучей, при ярком свете окраска листьев бледнеет. Зимой
                    держат в хорошо освещаемом месте вдали от прямого солнца. Однако сильного притенения также стоит
                    избегать, так как в тени листья теряют свой декоративный окрас. Для решения этой проблемы можно, к
                    примеру, притенять Калатеи листом тонкой белой бумаги, укрепленном на окне так, чтобы он
                    преграждал<span class="dots">...</span><span class="more">
                    путь прямым солнечным лучам, создавая рассеянное освещение.

                    Полив
                    Поливают теплой мягкой водой летом обильно, зимой полив уменьшают. Растениям нужен влажный воздух.
                    Горшок помещают во влажный торф или содержат в террариуме.

                    Влажность
                    Требует регулярного опрыскивания листьев, при условии если растение не болеет грибковыми
                    заболеваниями. Виды с бархатистыми листьями не опрыскивают, а для увлажнения воздуха используют
                    бытовой увлажнитель либо содержат растение в таком месте, где высокая влажность: террариум, мокрая
                    галька или мох, или в окружении других растений, которые требуют частого полива. Не следует ставить
                    вазон в поддон с водой — Калатея не любит когда «ноги в воде».

                    Калатея Варшевича в флорариуме. Некоторые виды Калатей, к примеру Калатея Варшевича — требуют
                    постоянной высокой влажности окружающего воздуха, в районе 80-90 %. В противном случае растение
                    медленно деградирует, листья усыхают, внешний вид растения заметно ухудшается. Эта причина зачастую
                    становится причиной неудач при разведении дома Калатеи Варшевича. Опрыскивание растение принимает
                    благотворно, однако оно не решает проблему. Зимой растения особенно страдают от сухого воздуха в
                    отапливаемых помещениях, где влажность воздуха с жизненно необходимых 80-90 % опускается до 30-40 %.
                    С целью некоторой компенсации растение можно ставить на широкий поддон, наполненный увлажненной
                    галькой, керамзитом, высушенным сфагновым мхом, опрыскивать, регулярно применять ультразвуковой
                    увлажнитель воздуха. Для создания идеальных условий содержания Калатеи Варшевича необходим
                    флорариум, в котором будут постоянно поддерживаться высокая влажность воздуха, хорошая вентиляция и
                    освещение.

                    Удобрение
                    В период роста каждые две недели нужна подкормка слабым (0,5 и менее от нормы) раствором минеральных
                    удобрений с наибольшей долей калия.

                    Вредители
                    Калатеи поражаются красным паутинным клещом, щитовками, трипсами, мучнистым червецом. Калатея
                    Варшевича чаще всего поражается паутинным клещом. Клещ трудно заметен, и при затягивании лечения
                    растение погибает. Лечение в каждом конкретном случае различное: в домашних условиях от клещей
                    применяют препараты — акарициды, в промышленных масштабах иногда выпускают на растения очень дорогой
                    особый вид клеща, уничтожающий предыдущий, для борьбы со щитовками и мучнистым червецом более
                    эффективным системные инсектициды, совмещенные с биоинсектицидами типа Фитоверм. Общее правило для
                    борьбы с паутинным клещом — повышение влажности воздуха в помещении.

                    Особенности
                    Некоторые виды марантовых, в том числе ряд Калатей (к примеру Калатея Розеопикта, Калатея Варшевича)
                    в хороших условиях содержания к ночи заметно поднимают листья вверх, за что получили второе название
                    — «молитвенное растение». Растение утром и вечером выглядит по-разному и кажется, что листья его
                    шевелятся.

                    Пересадка
                    Пересаживают каждые два года весной. Необходим хороший дренаж (до 1/4 высоты горшка). Почву
                    составляют из листовой и перегнойной земли, торфа и песка (1:1:1:0,5). Можно выращивать на
                    гидропонике.

                    Размножение
                    Размножают делением при пересадке. При этом корневище нельзя разрезать ножом. Горшки накрывают
                    полиэтиленовой плёнкой и держат в теплом месте, пока растения не укоренятся. Также возможно
                    размножение семенами.

                    Некоторые виды Калатей хорошо размножаются розетками, образующимися на цветочных стрелках. К примеру
                    Калатея Варшевича перед цветением образует стрелки, на которых в конце развиваются маленькие розетки
                    с листьями. Если такую розетку срезать чуть ниже по стрелке и высадить в грунт в теплице, то она
                    укоренится — это один из естественных путей размножения вида.</span></p>
                <p class="show_more">Показать больше</p>
            </div>
        </div>
        <div class="blog_item">
            <img src="img/blog/orchid_blog.jpg" alt="img"/>
            <div class="blog_item_description">
                <h3>Как продлить цветение орхидеи фаленопсис.</h3>
                <p>Фаленопсисы при условии правильного содержания цветут долго. Цветущий фаленопсис. Это цветение
                    длилось дольше полугода. Однако, бывают ситуации, когда растение не хочет долго цвести и "сушит"
                    первые цветы еще до того как распустились последние бутоны.

                    В чем может быть причина?

                    Если не рассматривать видовые орхидеи и гибриды первых поколений, продолжительность цветения которых
                    в целом меньше, чем растений длительной селекции, то обычно причина в резкой перемене условий
                    содержания, либо в неправильной агротехнике. В большинстве случаев, если орхидея решила прекратить
                    цветение, остановить этот процесс крайне сложно. Поэтому, как только вы заметили, что<span
                            class="dots">...</span><span class="more">на растении
                    начал развиваться цветонос, соблюдайте несколько простых правил (именно для фаленопсисов, для других
                    орхидных они в некоторых деталях отличаются):

                    1. Не меняйте интенсивность освещения до роспуска всех бутонов. После можно изменить в меньшую
                    сторону - фаленопсисы относятся к этому лояльно.

                    2. Никогда не держите зацветающее и цветущее растение на прямом солнце.

                    3. Подкармливать орхидею можно только в период развития цветоноса. Увидели первые бутоны, подкормки
                    прекращаем. Перекормленное растение цветет меньше по времени.

                    4. Старайтесь сильно не изменять влажность воздуха. Но! Если вы содержите растения в условиях
                    "влажные тропики" (хотя я, например, не рекомендую этого делать, так как гибридные орхидеи отлично
                    адаптируются к сухому воздуху квартир), постепенно снижайте влажность после того, как распустятся
                    бутоны.

                    5. Никогда не опрыскивайте цветущее растение. Попадание воды на цветы и бутоны почти всегда снижает
                    продолжительность цветения.

                    6. Избегайте сквозняков и резких перепадов температуры (особенно актуально на подоконнике в зимний
                    период).

                    7. Не заливайте растение в период цветения. Тут хочу отметить, что ваши орхидеи в целом не должны
                    "жировать", как в плане полива и удобрений, так и в плане размера горшка и питательности субстрата.

                    8. Не поливайте растение горячей и теплой (для вашей руки) водой. Вода должна быть чуть прохладной.
                    Любой перегрев корней ведет к практически моментальной остановке цветения. У меня была ситуация,
                    когда цветущая орхидея была поставлена на время стеллаж с досветкой и основание горшка нагрелось от
                    лампы досветки, размещенной с нижней стороны полки (освещала более нижний ярус растений). Цветение
                    прекратилось быстрее, чем я смог понять, в чем дело.

                    Отдельно хочу отметить: если орхидея болеет, потеряла корневую из-за залива или поражена
                    вредителями, то биться за долгое и красивое цветение не следует, нужно сначала вылечить растение!
                    Часто возникает вопрос, можно ли переставлять цветущую орхидею в другое место? Да, можно. При
                    условии, что не будет радикальной смены условий содержания. Я регулярно ставлю зацветающую орхидею в
                    ванную комнату (до цветения довожу на стеллаже с досветкой) в качестве элемента интерьера. Растения
                    отлично там цветут. И обязательно соблюдайте правильную агротехнику выращивания орхидей!</span></p>
                <p class="show_more">Показать больше</p>
            </div>
        </div>
        <div class="blog_item">
            <img src="img/blog/avokado_blog.jpg" alt="img"/>
            <div class="blog_item_description">
                <h3>Как вырастить авокадо из косточки.</h3>
                <p>Авокадо выращивается из косточки спелого плода. Для успешного проращивания важно правильно выбрать
                    плоды, поскольку в нашу страну они частенько завозятся недозрелыми, или же, наоборот, утратившими
                    свою пользу. Авокадо выбирайте по внешнему виду, плод должен быть упругим на ощупь, под легким
                    нажатием мякоть продавливается и восстанавливается. Если мякоть легко поддается давлению – плоды
                    перезревшие. Кроме правильного выбора плодов для посадки не менее важно правильно извлечь косточку
                    авокадо, не нарушив целостности внешней оболочки. Сделать это можно просто и быстро:

                    1. Надрежьте авокадо по кругу, не глубоко, осторожно коснувшись ножом косточки.
                    2. Возьмитесь за две половинки авокадо и прокрутите их в противоположные стороны. В руках у вас
                    останется половинка плода с косточкой, и<span class="dots">...</span><span class="more">вторая половинка без нее.
                    3. При помощи столовой ложки осторожно достаньте косточку из авокадо. Промойте и просушите ее.
                    Косточка готова к посадке.

                    Проращивание косточки авокадо
                    Существует два способа проращивания косточки авокадо. Первый – традиционный, для него вам
                    потребуются сама косточка, горшок для авокадо с дренажным отверстием, дренаж и небольшое количество
                    плодородной земли. Дренаж насыпьте в горшок, сверху слой грунта. Косточку авокадо расположите в
                    земле тупым концом, углубив на 2 см, острая макушка должна выступать над уровнем земли. При
                    правильном уходе, о котором мы поговорим чуть позже, косточка укоренится и даст росток через месяц.
                    Этот метод носит название – закрытое проращивание авокадо. Второй способ, открытое проращивание
                    авокадо, интересен для наблюдения, и тоже несложен. На косточке авокадо сделайте 3 или 4 отверстия,
                    равномерно распределив их по окружности в самой толстой части косточки. Установите в отверстия
                    зубочистки или спички, они послужат опорой. Поместите косточку в стакан воды. Опоры помогут
                    удерживать косточку на весу. Важно контролировать постоянное наличие воды, она должна покрывать
                    косточку наполовину. Спустя 3-4 недели косточка лопнет и из нее покажется первый корешок, через
                    некоторое время появится и росток. К пересадке в грунт косточка готова, когда сформировавшийся
                    корень дорастет до 5 см в длину. Землю в горшке качественно взрыхлите и не утрамбовывайте. Аккуратно
                    посадите косточку, не давите сильно, чтобы не повредить корень. Глубина посадки – одна треть
                    косточки.

                    Уход за авокадо
                    Когда посадка авокадо завершена, наступает время уходовых процедур. И первым делом необходимо
                    создать комфортные условия для выращивания авокадо дома. Условия выращивания авокадо Весной, летом и
                    осенью авокадо чувствует себя дома великолепно, сложности начинаются зимой. Давайте разбираться, как
                    их преодолеть. Место для авокадо. Освещение для авокадо требуется достаточно, хотя специалисты
                    утверждают, что даже в тени растение способно развиваться. Но невозможно не отметить замедленный
                    рост и тусклость листьев у таких экземпляров. Прямых солнечных лучей лучше тоже избегать. Подоконник
                    западного окна – идеально подойдет для молодой посадки. Температура воздуха для авокадо. Как
                    представитель тропических стран, авокадо любит теплый воздух вокруг себя. В условиях квартиры
                    растению будет комфортно, а вот сквозняк или резкое снижение температуры приведет к сбрасыванию
                    листьев. Поэтому даже теплым летом не рекомендуется выносит авокадо на балкон, где контролировать
                    температуру будет непросто. В зимнее время оптимальной температурой станет небольшое снижение до 20
                    градусов, однако, мастера садоводства утверждают, что для появления плодов, дереву необходим период
                    спячки. Для этого температуру воздуха необходимо плавно понизить до 12 градусов. Выбор, снижать или
                    не снижать температуру, стоит за каждым садоводом. Влажность воздуха для авокадо. Проблема
                    увлажнения заключается в том, что сухой воздух растению противопоказан, а попадание влаги на листья
                    может вызвать заболевания авокадо и даже ожоги. Поэтому необходимо ежедневно опрыскивать воздух
                    вокруг авокадо, или поместить рядом емкость с влажным мхом или керамзитом.

                    Полив авокадо. Дерево поливать нужно обильно и регулярно, но не часто. Ориентируйтесь на верхний
                    слой грунта, но после его высыхания до полива ждите 2-3 суток, чтобы успела просохнуть земля внутри
                    горшка, потому что излишняя влажность губительна для корневой системы авокадо. Подкормка авокадо. В
                    осенне-зимний период удобрения не требуются деревцу, даже если вы выбрали выращивание без периода
                    спячки. С марта и до наступления осени вносите в грунт один раз в месяц комплексные минеральные
                    удобрения. Подойдут также специальные удобрения для цитрусовых культур. Вам могут пригодиться

                    Пересадка авокадо. Культура очень быстро растет в первые несколько лет. Первую пересадку проведите,
                    когда деревце достигнет высоты в 15 см. Дальше до возраста 3-4 лет пересаживайте дерево ежегодно по
                    весне. Взрослое растение нуждается в пересадке не чаще одного раза в 3 года. Предпочтительный способ
                    пересадки авокадо – перевалка. Обрезка авокадо. Помимо формирующей обрезки авокадо по весне,
                    необходимо регулярно проводить прищипывание авокадо, начиная с верхушки после достижения возраста 8
                    листочков. Еще один любопытный способ сформировать красивое деревце – посадить в один горшок 3
                    косточки, и когда деревца подрастут, но стебель еще гибкий – переплести их косичкой. Проблемы
                    авокадо. Болезни авокадо связаны с нарушением правил ухода. Не допускайте сквозняков, правильно
                    поливайте и берегите растение от прямых солнечных лучей.

                    Посадка авокадо в открытый грунт. Когда деревце достигнет высоты 40 см, появляется возможность
                    посадить авокадо в открытом грунте, перенеся деревце на участок. Но важно помнить несколько правил
                    сохранения здоровья растения: Привыкать к свежему воздуху необходимо постепенно. Проводите
                    закаливание авокадо ежедневно в теплое время суток и года. Больше шансов на успешную пересадку имеют
                    садоводы из южных регионов. Зимовка авокадо возможна при качественном укрытии из поликарбоната,
                    деревянных настилов, окучивания и мульчирования. Если основная цель – вырастить авокадо дома для
                    переноса в открытый грунт, изначально приобретайте авокадо мексиканской расы, они способны выдержать
                    заморозки до -6 градусов. А уж как обеспечить подобную температуру деревцу – ваша задача.</span></p>
                <p class="show_more">Показать больше</p>
            </div>
        </div>
    </div>
</main>
<%- include('footer'); %>
